@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
{
  font-family: 'Manrope', sans-serif;
}

html{
  scroll-behavior: smooth;
  font-family: 'Manrope', sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  background-color: #bc3948;
  display: flex;
  position: fixed;
  width: 100%;
  height: 7rem;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
}

.header .name {
  margin: 0 0 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header .name h1 {
  font-size: 2rem;
  color: #ffff;
  font-weight: 700;
  margin: 0;
}

.header .name h2 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
  margin: 0;
}

.header ul{
  font-weight: 500;
  display: flex;
  list-style: none;
  gap: 3rem;
  margin: 0 1rem 0 0;
}

.header nav ul li a{
  color: #fff;
  padding: 2px;
  text-decoration: none;
  transition: .5s;
}

.header nav ul li a:hover {
  color: #39bcad;
}

.nav-responsive {
  display: none;
  cursor: pointer;
  margin: 0 1rem 0 0;
}

.nav-responsive i{
  font-size: 3rem;
}

/* Hero */
.hero {
  margin-top: 7rem;
  width: 100%;
  height: 80%;
  background: linear-gradient(to right top, #bc3948, #d95f3f, #ec8934, #f2b630, #ebe443);
  display: flex;
  
}

.slider {
  overflow: hidden;
  width: 80rem;
  height: 40rem;
  border-radius: 10px;
}

.slides {
  display: flex;
  width: 500%;
  transition: 1s;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.slide img{
  width:75%;
  height: auto;
}

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}

/* Experience */
@media screen and (max-width:768px){
  .navbar{
    display: none;
  }
  .nav-responsive{
    display: block;
  }
}